<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Now working as a Full stack developer @RobotBros to build iOS app for my client. You can <a href="#" target="_blank">download this free resume/CV template here</a>. I love iOS, Swift, Obj-C, python, javascript. For most of my projects, I will make use of these skill to build awesome apps. In my spare time, I'd like to create open source software in github. You can visit my github page for detail.</p>
</div><!--//summary-->
</section><!--//section-->