 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BSc in Network Engineering</h4>
    <h5 class="meta">South China University of Technology</h5>
    <div class="time">2003 - 2007</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Computer Techonology</h4>
    <h5 class="meta">Sun Yat-Sen University</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->