<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">RobotBros, Foshan, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>RobotBros is a start-up founded by my brother and me. Both of us love building robots, so here comes the name of our start-up. We have built a BLE control Hexapod robot with STM32F103 and iOS platform. It is very funny. And to build up our business, I will bid jobs posted in the freelancer website, and help my customers to build awesome apps.</p>  
                        <p>I have helped several customers to build app they need. For more detail about my projects please refer to the project section.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior System Analyst</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">China Engineer Limited (CEL), Foshan, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Building BI reporting, data warehouse build up. ERP system migration to Microsoft Dynamic AX.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">ERP internal consultant</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Lesso Group, Foshan, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>In house software development, had build up serval system with C# and JAVA for interal department.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Analyst</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">China Engineer Limited (CEL), Foshan, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Interal ERP system maintaince.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Enginner</h3>
                            <div class="time">2010 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">HSBC Development Limited, Guangzhou, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Build data warehouse for the HSBC financial department.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Enginner</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">HSBC Development Limited, Guangzhou, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Build data warehouse for the HSBC financial department.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->