---
layout: default
section: blog
published: true
---


{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='col12 splash'>
    <img src='{{url}}' alt='' />
  </div>
{% endif %}

<div class='listing col8 pad4h margin2'>
  <div class='heading'>
    <h1>{{page.title}}</h1>
	<span class='date'>{{page.date | date: "%-d %B, %Y"}}</span>
  </div>

  <div class='prose'>
    {{content}}
  </div>
  
  {% include duoshuo.html %}
</div>

{% include rss-link.html %}
